
<!-- Page Heading/Breadcrumbs -->
        
        <!-- /.row -->
                <%= render 'form' %>
 
                <div class="row">
                <div class="col-md-8">
                    <%= link_to 'Show', @user, class:'btn btn-lg btn-default btn-block', style:'width:10%', type:'submit' %> 
               </div>
				</div>


