<!-- Page Heading/Breadcrumbs -->
<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">New Tutorial</h1>
  </div>
</div>

<%= render 'form' %>

<div class="row">
  <div class="col-md-4">
    <%= link_to 'Back', root_path, class:'btn btn-lg btn-default btn-block', type:'submit' %>
  </div>
</div>
