

<!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Editing Rate User Tutorial
                    <small></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->


 				<%= render 'form' %>
 				<div class="row">
                <div class="col-md-8">
                	<%= link_to 'Show', @rate_user_tutorial,  class:'btn btn-lg btn-default btn-block', style:'width:10%', type:'submit' %> 
					<%= link_to 'Back', rate_user_tutorials_path,  class:'btn btn-lg btn-default btn-block', style:'width:10%', type:'submit' %>
   				</div>	


        </div>
        <!-- /.row -->

